<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>date-time</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .red {
      color: red
    }
  </style>
</head>
<body>
  <div id="datetime-timer">
    <div v-for="(timer, index) in timers">
      <p :key="index">
        Таймер № {{ ++ index }} закінчиться {{ timer.date | date }} о {{ timer.date | time }}
        (через: {{ timer.countdown.d | day }} {{ timer.countdown.h | readable }}:<span :class="timer.class">{{ timer.countdown.m | readable }}:{{ timer.countdown.s | readable }}</span>)
      </p>
    </div>
  </div>
</body>
<script>
  const values = ['2020-06-27 16:25:00', '2020-06-27 16:30:00', '2020-06-27 16:29:00']
  const pluralize = function (n, titles) {
    return titles[(n % 10 === 1 && n % 100 !== 11) ? 0 : n % 10 >= 2 && n % 10 <= 4 && (n % 100 < 10 || n % 100 >= 20) ? 1 : 2]
  }
  const tickStep = 1000
  const lang = 'ua'
  let app = new Vue({
    el: '#datetime-timer',
    data: {
      time: 0,
      ticker: null,
      timers: []
    },
    created() {
      for (let datetime of values) {
        this.timers.push(this.getTimer(datetime))
      }

      this.tick()
      // We synchronize with actual time.
      setTimeout(() => {
        this.tick()
        this.ticker = setInterval(this.tick, tickStep)
      }, (tickStep - new Date().getMilliseconds()));
    },
    filters: {
      date (payload) {
        return payload.toLocaleDateString(lang)
      },
      time (payload) {
        return payload.toLocaleTimeString(lang)
      },
      day (payload) {
        return `${payload} ${pluralize(payload, ['день', 'дня', 'днів'])}`
      },
      readable (payload) {
        return (payload < 10) ? '0'+payload : payload;
      },
    },
    watch: {
      time (current) {
        for (let timer of this.listeners) {
          timer.calc(current)
        }
      }
    },
    computed: {
      listeners () {
        const available = this.timers.filter(i => !i.countdown.end)

        if(!available.length) {
          clearInterval(this.ticker)
        }

        return available
      }
    },
    methods: {
      tick () {
        this.time = (new Date().getTime() - tickStep)
      },
      getTimer (string) {
        if(isNaN(Date.parse(string))) return

        const date = new Date(string)

        return {
          date,
          time: date.getTime(),
          countdown: { d: 0, h: 0, m: 0, s: 0, end: false },
          class: [],
          calc(current) {
            let timeDiff = this.time - current;

            if (timeDiff < 0) {
              this.countdown.end = true
              return
            }

            this.countdown.d = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
            this.countdown.h = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            this.countdown.m = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
            this.countdown.s = Math.floor((timeDiff % (1000 * 60)) / 1000);

            if((this.countdown.m === 5 && this.countdown.s === 0) || this.countdown.m < 5) {
              this.class.push('red')
            }
          }
        }
      }
    }
  })
</script>
</html>